@{
    ViewBag.Title = "Kļūda";
}

<div style="background-color: #A52A2A; color: white; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Servera kļūda:
        </h3>
        <h4>
            Atvainojiet par sagādātajām neērtībām!
            Tuvākajā laikā šī problēma tiks atrisināta!
        </h4>
        <h6>@Html.ActionLink("Doties uz galveno lapu", "LoginAc", "Pacients")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>  

